/*---------------------EDITOR.CSS---------------------*/


/*-----------------NAVIGATION----------------------*/
.nav{
	position: fixed;
	width:200px;
	height:100%;
	top:100px;
	left:0px;
	z-index: 555;
}
	.nav .active{
		color:#AAAAAA;
		background-color: rgba(0,0,0,0.5);
	}
	.nav .navitem{
		letter-spacing: 4px;
		text-transform: uppercase;
	}

	.nav .navitem.navitem-back{
		position:fixed;
		width:200px;
		bottom:22px;
	}
.nav .subnav{
	position: fixed;
	top:175px;
	left:200px;
	width:200px;
	height:100%;
}
	.subnav .button{
	}
	.subnav .subnavitem{
		background-color: rgba(20,20,20,0.9);
		overflow:hidden;
		padding:0px 10px;
	}
	.subnav .subnavitem:hover{
		background-color:rgba(20,20,20,0.98); 
		color:#AAAAAA;
	}
	.subnav .overflow{
		position:fixed;
		background-color:rgba(0,0,0,0.9);
		left:400px;
		top:180px;
		height:400px;
		width:350px;
		font-size: 16pt;
		overflow-y: scroll;
	}
		.subnav .overflow .itemPreview{
			color:#AAAAAA;
			height:70px;
			line-height:50px;
			border-bottom:1px dashed #111;
			padding:10px;
		}
		.subnav .overflow .itemPreview:hover{
			color:#AD9419;
			border-bottom:1px dashed #333;
		}
		.subnav .overflow input{
			height:70px;
			vertical-align: top;
			width:100%;
			background: rgba(0,0,0,1);
			border: none;
			border-bottom:1px dashed #AD9419;
			color:#AAAAAA;
			text-align: center;
			font-size: 16pt;
		}
		.subnav .overflow input:hover{
			border-bottom:1px dashed #AAAAAA;
			color:#CCCCCC;
		}

	.mirror{
		-webkit-transform: scaleY(-1);
    	-moz-transform: scaleY(-1);
    	-o-transform: scaleY(-1);
    	transform: scaleY(-1);
    	margin-top:-45px;
    	margin-bottom:-25px;
    	opacity: 0.1;
    }

/*-------------Editorview------------------*/
.editor{
	border: 3px dashed rgba(243,198,4,.5);
	width:68%;
	height:80%;
	position: fixed;
	top: 10%;
	right: 5%;
	z-index: 500;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
	.editor .section{
		position: absolute;
		width:100%;
		height:100%;
		left:0%;
		transition:opacity .2s , left .2s ;
	}
	
	.editor .subsection{
		position: absolute;
		width:100%;
		height:100%;
		top:0%;
		background-color: rgba(0,0,0,0.3);
		transition:opacity .2s , top .2s ;
	}		
		.editor .subsection .itembar{
			position: absolute;
			width:420px;
			height:40px;
			line-height: 40px;
			z-index:999;
			top:-10%;
			right:0%;
			background-color: rgba(58, 58, 58, .97);
			text-shadow: 1px 1px 1px #000;
			opacity:1;
			transition:font-size .05s, width .05s, opacity .05s;
		}
			.editor .subsection .itembar:hover{
				opacity:1;
				width:420px;
			}
			.editor .subsection .itembar:hover .item{
				opacity:1;
				font-size: 18px;
			}
			.editor .subsection .itembar .item{
				width:20%;
				transition:opacity .05s;
				cursor: pointer;
				opacity: 1;
				height:40px;
				line-height: 40px;
				text-align: center;
				font-size: 18px;
				color:#CCCCCC;
				float:left;
			}
				.editor .subsection .itembar .item:hover{
					background-color: rgba(0,0,0,0.5);
				}
				.editor .subsection .itembar .item .subitem{
					color: #AAAAAA;
					border-bottom: 1px dashed  rgba(243,198,4,.5);
					background-color: rgba(58, 58, 58, .97);
				}
				.editor .subsection .itembar .item .subitem:hover{
					text-shadow:1px 1px 1px #CCCCCC;
					background-color:rgba(170, 170, 170, .97);
					border-bottom: 1px dashed  #777;
					color:#111111;
				}
		.editor .subsection .skaleBar{
			position:relative;
			left:99%;
			top:100%;
			opacity:1;
			width:20px;
		}
		.editor .subsection .positionBar{
			float:left;
			position:absolute;
			opacity:1;
			height:20px;
			width:20px;
		}
			.editor .subsection .element:hover .skaleBar .point, .editor .subsection .element:hover .positionBar .point{
				opacity: .5;
			}
			.editor .subsection .skaleBar .point{
				cursor: nwse-resize;
				position: absolute;
				width:10px;
				z-index:700;
				height:10px;
				bottom: -5px;
				left:0px;
				background-color: #AD9419;
				opacity:0;
				transition: width .1s, height .1s, opacity .1s, left .1s, bottom .1s;
			}
			.editor .subsection .positionBar .point{
				cursor: move;
				position: absolute;
				width:10px;
				z-index:700;
				height:10px;
				background-color: #AD9419;
				opacity:0;
				transition: height .1s, width .1s, opacity .1s, bottom .1s;
			}
			.editor .subsection .skaleBar .point:hover{
				width:30px;
				height:30px;
				bottom: -15px;
				left:-10px;
				opacity:0.5;
			}
			.editor .subsection .positionBar .point:hover{
				height:30px;
				width:30px;
				opacity:0.5;
			}
	.editor .sectionRight{
		left:103%;
		opacity:0.2;
	}
		.editor .sectionRightInactive{
			left:210%;
			opacity:0;
		}
	.editor .sectionLeft{
		left:-103%;
		opacity:0.2;
	}	
		.editor .sectionLeftInactive{
			left:-210%;
			opacity:0;
		}

	.editor .subSectionBottom{
		top:103%;
		opacity:0.2;
	}
		.editor .subSectionBottomInactive{
			top:120%;
			opacity:0;
		}
	.editor .subSectionTop{
		top:-103%;
		opacity:0.1;
	}
		.editor .subSectionTopInactive{
			top:-120%;
			opacity:0;
		}
	.editor .sectionRight:hover, .editor .sectionLeft:hover, .editor .subSectionTop:hover, .editor .subSectionBottom:hover{
		opacity:0.8;
	}

/*-----------------ADD-BUTTONS----------------------*/

	.addSubSection{
		width:70px;
		height:70px;
		position: absolute;	
		font-size: 40px;
		background-color:#AD9419;
		opacity: 0.2;
		z-index:600;
	}
	.addSubSection:hover{
		opacity: 0.9;
	}
		.addSubSection .button{
		background-color:#AD9419;
			margin:0;
			line-height:65px;
			color:#FFFFFF;
			font-size: 25px;
			border-bottom: none;
		}
	.addSubSection.addSubSectionRight{
		top:45%;
		right:1%;
	}
	.addSubSection.addSubSectionBottom{
		left:57%;
		bottom:1%;
	}
