.logo{
	width:20%;
	margin:50px auto;
}
	.logo img{
		width:100%;
	}
.login-table{
	width:40%;
	min-width: 700px;
	margin:20px auto;
	color:#FFFFFF;
	font-size: 12px;
	letter-spacing: 2px;
}
	.login-table .formInactive{
		background-color: rgba(0,0,0,0.1);
		height:0px;
		opacity: 0;
		transition:height .2s, opacity .2s;
	}
	.login-table .formInactive *{
		display: none;
	}
	.login-table .formActive{
		background-color: rgba(0,0,0,0.1);
		opacity: 1;
		height:auto;
		transition:height .2s, opacity .2s;
	}	
	.login-table input{
		border:none;
		border-bottom:1px dashed #111111;
	}
	.login-table input[type="password"], .login-table input[type="text"], .login-table input[type="email"]{
		height:70px;
		width:100%;	
		text-align: center;
	    font-size: 24px;
	    line-height: 60px;
		color:#CCCCCC;
		background-color: rgba(0,0,0,0.2);
	}