/*---------------------MAIN.CSS---------------------*/

*{
	box-sizing:border-box;
	padding:0;
	margin:0;
}
.nav *, .popupBackground *, .itembar *, .menu *, .col-title *, .col-autor *, .col-date *, #create-new-btn, .user-information-table *, .login-table *{
	font-family: 'Josefin Sans', sans-serif;
}

body{
	color:#AAAAAA;
}
.background{
	position: fixed;
	top:0px;
	height: 100%;
	width:100%;
	background: #3a3a3a; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #3a3a3a 1%, #2d2d2d 65%, #1c1c1c 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#3a3a3a), color-stop(65%,#2d2d2d), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #3a3a3a 1%,#2d2d2d 65%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #3a3a3a 1%,#2d2d2d 65%,#1c1c1c 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #3a3a3a 1%,#2d2d2d 65%,#1c1c1c 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #3a3a3a 1%,#2d2d2d 65%,#1c1c1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#1c1c1c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	z-index: -1;
}


/*-----------------TAGS----------------------*/
a{
	color:#AAAAAA;
	text-decoration: none;
}
	a:hover{
		color:#AD9419;
	}
h1{
	display: inline-block;
	font-size: 60px;
}
h2{
	display: inline-block;
	font-size: 40px;
}
h3{
	display: inline-block;
	font-size: 30px;
}
h4{
	display: inline-block;
	font-size: 20px;
}

/*-----------------BUTTONS----------------------*/
.button{
	width:100%;
	height:70px;
	background-color:rgba(0,0,0,0);
	border-bottom: 1px dashed #111;
	text-align: center;
	line-height: 70px;
	font-size: 16px;
	margin-top:5px;
	cursor:pointer;
	color:#AD9419;
}
	.button.button-red{
		background-color:rgba(200,0,0,.1);
		color:#CCCCCC;
	}
	.button.button-green{
		background-color:rgba(0,200,0,.1);
		color:#CCCCCC;
	}
.button:hover{
	color: #AAAAAA;
	background-color: rgba(0,0,0,0.5);
}
	.buttonActive{
		color: #AAAAAA;
		background-color: rgba(0,0,0,0.5);
		cursor:default;
	}
	.button.button-red:hover{
		color: #CCCCCC;
		background-color: rgba(200,0,0,0.2);
	}
	.button.button-green:hover{
		color: #CCCCCC;
		background-color: rgba(0,200,0,0.2);
	}
	.button.reversed, .button.reversed:hover{
		background-color: rgba(0,0,0,0);
		border:none;
		border-bottom:1px dashed #AAAAAA;
		border-top:1px dashed #AAAAAA;
	}
	.button.reversedBlack, .button.reversedBlack:hover{
		background-color: rgba(0,0,0,0.8);
		border-top:1px solid rgba(0,0,0,0.8);
		border-bottom:1px solid rgba(0,0,0,0.8);
	}
		.button.reversedBlack.reversehide{
			opacity:0;
			transition:opacity .2s;
		}
		.button.reversedBlack.reversehide:hover{
			background-color: rgba(0,0,0,1);
			opacity:1;
		}
		.buttonReverse{
			font-size: 30px;
			float: left;
			top:7px;
			width:50%;
			background-color: rgba(0,0,0,0);
			color:#AAAAAA;
		}
		.buttonReverse:hover, .buttonReverseActive{
			background-color: rgba(0,0,0,0);
			color:#AD9419;
			z-index:700;
		}
		.fullscreenbtn{
			position:absolute;
			top:7px;
			z-index: -10;
			-webkit-transition: right .2, opacity .2s;
			-moz-transition: right .2s, opacity .2s;
			-ms-transition: right .2s, opacity .2s;
			transition: right .2s, opacity .2s;
		}
		.fullscreenbtnAct{
			right:-100px;
			opacity: 1;
		}
		.fullscreenbtnInact{
			right:0px;
			opacity: 0;
		}


/*-----------------POPUP----------------------*/
.popupBackground{
	position:fixed;
	width:100%;
	height:100%;
	top:0%;
	left:0%;
	background-color: rgba(255,255,255,0.4);
	z-index:600;
}
	.popupBackground .popupContent{
		width:50%;
		padding:25px 50px;
		margin:100px auto;
		text-align: center;
		background: #3a3a3a; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #3a3a3a 1%, #2d2d2d 65%, #1c1c1c 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#3a3a3a), color-stop(65%,#2d2d2d), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #3a3a3a 1%,#2d2d2d 65%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #3a3a3a 1%,#2d2d2d 65%,#1c1c1c 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #3a3a3a 1%,#2d2d2d 65%,#1c1c1c 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #3a3a3a 1%,#2d2d2d 65%,#1c1c1c 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#1c1c1c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	.popupBackground .popupContent h2{
		margin-bottom: 25px;
	}
	.popupBackground .popupContent input{
		border:none;
		border-bottom:1px dashed #111111;
	}
	.popupBackground .popupContent input[type="password"], .popupBackground .popupContent input[type="text"], .popupBackground .popupContent input[type="email"], .popupBackground .popupContent input[type="file"]{
		height:70px;
		width:100%;	
		text-align: center;
	    font-size: 24px;
	    line-height: 60px;
		color:#CCCCCC;
		background-color: rgba(0,0,0,0.2);
	}
	.popupBackground .popupContent textarea{
		font-family: 'Courier';
		font-weight: normal;
	    font-size: 14px;
	    letter-spacing: 1px;
		color:#CCCCCC;
		background-color: rgba(0,0,0,0.2);
		border:none;
	}

/*-----------------PLACEHOLDER----------------------*/
	.popupBackground .popupContent input::-webkit-input-placeholder, .login-table input::-webkit-input-placeholder  {
	    font-size: 16px;
	    line-height: 60px;
	    color:#777;
	}
	.popupBackground .popupContent input::-moz-placeholder, .login-table input::-moz-placeholder {
	    font-size: 16px;
	    line-height: 60px;
	    color:#777;
	}
	.popupBackground .popupContent input:-moz-placeholder,.login-table input:-moz-placeholder {
	    font-size: 16px;
	    line-height: 60px;
	    color:#777;
	}
	.popupBackground .popupContent input:-ms-input-placeholder, .login-table input:-ms-input-placeholder {
	    font-size: 16px;
	    line-height: 60px;
	    color:#777;
	}

/*-----------------PLACEHOLDER----------------------*/

.menu.button{
	margin:0;
	padding:0;
	height:70px;
	width:100%;
	color:#AD9419;
}
.menu.button:hover{
	background-color:rgba(0,0,0,0);
}
.menu .button{
	margin:0;
	padding:0;
	width:33.33%;
	float: left;
	border:none;
	font-size:20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.menu .button.buttonReverse{
	color: #AAAAAA;
	background-color: rgba(0,0,0,0.5);
}








.sortsec{
	width:300px;
	margin:10px;
	padding:10px;
	background-color: #fff;
	border:1px dotted #0f0;
	float:left;
}
.sortsub{
	width:100%;
	height:150px;
	margin: 5px 0px;
	background-color: #fff;
	border:1px dotted #00f;
	float:left;
}