
/*---------------------OVERVIEW--------------------*/
	.overview{
		position: absolute;
		height:100%;
		width: 100%;
		overflow: auto; 
	}
	#overviewContent.middle{
		margin:25px auto;
	}
	.overview .section{
	 	position: relative;
	 	width:300px;
		float:left;
		margin-right:5px;
	}
	.overview .subsection{
		position: relative;
		width:100%;
		height:200px;
		float: left;
		margin-bottom:5px;
		background-color: #21201D;
	}
		.overview .subsection *{
			font-size:70%;
			letter-spacing: 0px;
		}
		.overview .subsection h1{
			font-size:185%;
		}
		.overview .subsection h2{
			font-size:128%;
		}
		.overview .subsection p{
			font-size:50%;
		}
		.overview .subsection table *{
			line-height: 10px;
			font-size: 95%;
		}
		.overview .subsection ul *{
			line-height: .7rem;
			font-size: .7rem;
		}
