/*-----------------HOME-TABLE----------------------*/
.presentation-information-table{
	width:80%;
	min-width: 700px;
	margin:20px auto;
	color:#FFFFFF;
	font-size: 12px;
	letter-spacing: 2px;
}
	.presentation-information-table .row{
		height:71px;
		margin-top:5px;
		cursor:pointer; 
		color: #CCCCCC;
	}
	.presentation-information-table .row:hover{
		background-color: rgba(0,0,0,0.1);
		color:#AD9419;
	}
		.presentation-information-table .row .col{
			float: left;
			height:70px;
			padding:0px 5px;
		}
			.presentation-information-table .row .col span{
				line-height: 70px;
			}
		.presentation-information-table .row .col-image{
			width:20%;
			padding-left:15px;
		}
			.presentation-information-table .row .col-image span *{

				line-height: .15rem;
				font-size: 65%;
				letter-spacing: 1px;
			}
			.presentation-information-table .row .col-image span h1{
				line-height: .8rem;
			}
			.presentation-information-table .row .col-image span h2{
				line-height: .8rem;
				font-size: 57%;
				letter-spacing: 0px;
			}
			.presentation-information-table .row .col-image span p{
				line-height: .35rem;
				font-size: 25%;
				letter-spacing: 0px;
			}
			.presentation-information-table .row .col-image span table *{
				line-height:.15rem;
			}
			.presentation-information-table .row .col-image span ul *{
				line-height:.6rem;
			}
			.presentation-information-table .row .col-image .smallPreview{
				position: absolute;
				background-color: rgba(0,0,0,0.1);
				width:150px;
				height:70px;
			}
		.presentation-information-table .row .col-title{
			width:30%;
			padding-left: 10px;
			text-transform: uppercase;
		}
		.presentation-information-table .row .col-autor{
			width:25%;
		}
		.presentation-information-table .row .col-date{
			width:12%;
		}
		.presentation-information-table .row .col-action{
			width:13%;
			text-align: center;
			padding-right:15px;
			font-size: 16px;
		}
	.presentation-information-table .row.row-head{
		height:35px;
		background-color:rgba(0,0,0,0.5);
		color:#AD9419;
	}
		.presentation-information-table .row.row-head>*{
			height:35px;
			text-transform: uppercase;
			letter-spacing: 5px;
			line-height: 35px;
			font-size:16px;
		}
		.presentation-information-table .row.row-head .col-date{
			padding:0px;
			width:12%;
		}
		.presentation-information-table .row.row-head .col-action{
			padding:0px;
			width:13%;
		}
		.presentation-information-table .row.row-head>*:hover{
			color:#CCCCCC;
		}
			.presentation-information-table .row.row-head .col-action input[type="text"]{
				height:35px;
				width:100%;
				float:right;
				padding-left: 15px;
				border:none;
				background-color: rgba(0,0,0,0.3);
				border-left:1px dashed #AAAAAA;
				color:#AAA;
			}
.presentation-information-table .previewRowInactive, .presentation-information-table .previewRowActive{
	-webkit-transition: background-color .2s, height .2s;
	-moz-transition: background-color .2s, height .2s;
	-o-transition: background-color .2s, height .2s;
	transition: background-color .2s, height .2s;
}
	.presentation-information-table .previewRowInactive{
		background-color: rgba(0,0,0,0.0);
		height:0px;
	}
	.presentation-information-table .previewRowActive{
		background-color: rgba(0,0,0,0.1);
		height:300px;
	}
.presentation-information-table .render{
	height:300px;
	width:600px;
	margin:0 auto;
	letter-spacing: 0px;
	-webkit-transition:transform .2s, opacity .2s, height .2s;
	-moz-transition:transform .2s, opacity .2s, height .2s;
	-o-transition:transform .2s, opacity .2s, height .2s;
	transition:transform .2s, opacity .2s, height .2s;
	-webkit-transform-origin:0% 0%;
	-moz-transform-origin:0% 0%;
	transform-origin:0% 0%;
}
	.presentation-information-table .previewRowActive .render{
		opacity: 1;
		background-color: rgba(0,0,0,0.1);
	}
	.presentation-information-table .previewRowInactive .render {
		opacity: 0;
		-webkit-transform:scaleY(0);
		-moz-transform:scaleY(0);
		transform:scaleY(0);
	}
		.presentation-information-table .previewRowInactive .render *{
			font-size: 0px;
			line-height: 0px;
			height:0px;
		}
		.presentation-information-table .previewRowActive .render h1{
			font-size:123%;
			letter-spacing: 3px;
		}
		.presentation-information-table .previewRowActive .render h2{
			font-size:70%;
			letter-spacing: 2px;
			line-height: .6rem;
		}
		.presentation-information-table .previewRowActive .render p{
			font-size:35%;
			letter-spacing: 1px;
		}
		.presentation-information-table .previewRowActive .render table{
			font-size:35%;
			letter-spacing: 1px;
		}
	.presentation-information-table .render-nav{
		position: relative;
		padding:25px 0px;
		text-align: center;
		background-color: rgba(0,0,0,0.1);
		-webkit-transition: height .5s .2s, transform .2s, top .2s, width .5s .7s, right .5s .7s;
		-moz-transition: height .5s .2s, transform .2s, top .2s, width .5s .7s, right .5s .7s;
		-o-transition: height .5s .2s, transform .2s, top .2s, width .5s .7s, right .5s .7s;
		transition: height .5s .2s, transform .2s, top .2s, width .5s .7s, right .5s .7s;
	}
	.presentation-information-table .previewRowInactive  .render-nav{
		width:1%;
		right:-99%;
		height: 0px;
		opacity: 0;
		top:-300px;
		-webkit-transform:scaleY(0);
		-moz-transform:scaleY(0);
		transform:scaleY(0);
	}
	.presentation-information-table .previewRowActive  .render-nav{
		width:7%;
		right:-93%;
		height: 300px;
		top:-300px;
		opacity: 1;
	}
		.presentation-information-table .render-nav a{
			margin: 15px auto;
			font-size: 40px;
			width:100%;
			-webkit-transition: transform .5s .7s;
			-moz-transition: transform .5s .7s;
			-o-transition: transform .5s .7s;
			transition: transform .5s .7s;
		}
			.presentation-information-table .previewRowActive  .render-nav a{
			}
			.presentation-information-table .previewRowInactive  .render-nav a{
				-webkit-transform:scaleX(0);
				-moz-transform:scaleX(0);
				transform:scaleX(0);
			}