
/*-------------Preview------------------*/
.preview{
	border: none;
	width:100%;
	height:100%;
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 500;
}
	.preview *{
		margin:0;
		padding:0;
	}
	.blackscreen{
		position:fixed;
		top:0px;
		left:0px;
		height:100%;
		width:100%;
		background-color:#000000;
		z-index:555;
			-webkit-transition: opacity 1s linear;
			-moz-transition: opacity 1s linear;
			-ms-transition: opacity 1s linear;
			transition: opacity 1s linear;
	}
		.blackscreen.blackscreenActive{
			opacity: 1;
		}
		.blackscreen.blackscreenInactive{
			opacity: 0;
		}
	.preview .section{
		position: absolute;
		width:100%;
		height:100%;
		left:0%;
		right:0%;
		-webkit-transform: perspective(600px) rotateY(0deg) scale(1);
		-webkit-transition: opacity 2s, left 2s, transform 2s;
		-moz-transform: perspective(600px) rotateY(0deg) scale(1);
		-moz-transition: opacity 2s, left 2s, transform 2s;
		-ms-transform: perspective(600px) rotateY(0deg) scale(1);
		-ms-transition: opacity 2s, left 2s, transform 2s;
		transform: perspective(600px) rotateY(0deg) scale(1);
		transition: opacity 2s, left 2s, transform 2s, scale 2s;
	}
	
	.preview .subsection{
		position: absolute;
		width:100%;
		height:100%;
		top:0%;
		bottom:0%;
		-webkit-transform: perspective(600px) rotateX(0deg) scale(1);
		-webkit-transition: opacity 2s, top 2s, transform 2s;
		-moz-transform: perspective(600px) rotateX(0deg) scale(1);
		-moz-transition: opacity 2s, top 2s, transform 2s;
		-ms-transform: perspective(600px) rotateX(0deg) scale(1);
		-ms-transition: opacity 2s, top 2s, transform 2s;
		transform: perspective(600px) rotateX(0deg) scale(1);
		transition: opacity 2s, top 2s, transform 2s, scale 2s;
	}
	.preview .subsection h1{
		font-size: 337%;
	}
	.preview .subsection h2{
		font-size: 174%;
		line-height: 70px;
	}
	.preview .subsection p{
		font-size: 100%;
	}
	.preview .subsection ul{
		font-size: 150%;
		line-height: 4.5rem;
	}
	.preview .sectionLeft{
		left:-100%;
		opacity: 1;
	}	
/*--------------------------ELEMENTS----------------------*/
	.elementwrapper {
		-webkit-perspective:800px;
		-moz-perspective:800px;
		-ms-perspective:800px;
		perspective:800px;
	}
		.preview .element.elementInactive{
		}
		.preview .element.elementActive{
			-webkit-transition: opacity .2s, padding-right .2s, transform .2s;
			-moz-transition: opacity .2s, padding-right .2s, transform .2s;
			-ms-transition: opacity .2s, padding-right .2s, transform .2s;
			transition: opacity .2s, padding-right .2s, transform .2s;
		}
			.preview .element.elementInactive.roll{
				opacity:0;
				-webkit-transform: rotateX(90deg);
				-moz-transform: rotateX(90deg);
				-ms-transform: rotateX(90deg);
				transform: rotateX(90deg);
			}
				.preview .element.elementActive.roll{
					opacity:1;
					-webkit-transform: rotateX(0deg);
					-moz-transform: rotateX(0deg);
					-ms-transform: rotateX(0deg);
					transform: rotateX(0deg);
				}
			.preview .element.elementInactive.ease{
				opacity: 0;
			}
				.preview .element.elementActive.ease{
					opacity: 1;
				}
			.preview .element.elementInactive.zoomOut{
				opacity: 0;
				-webkit-transform: scale(2);
				-moz-transform: scale(2);
				-ms-transform: scale(2);
				transform: scale(2);
			}
				.preview .element.elementActive.zoomOut{
					opacity: 1;
					-webkit-transform: scale(1);
					-moz-transform: scale(1);
					-ms-transform: scale(1);
					transform: scale(1);
				}
			.preview .element.elementInactive.zoomIn{
				opacity: 0;
				-webkit-transform: scale(.5);
				-moz-transform: scale(.5);
				-ms-transform: scale(.5);
				transform: scale(.5);
			}
				.preview .element.elementActive.zoomIn{
					opacity: 1;
					-webkit-transform: scale(1);
					-moz-transform: scale(1);
					-ms-transform: scale(1);
					transform: scale(1);
				}
			.preview .element.elementInactive.scaleX{
				-webkit-transform: scaleX(0);
				-moz-transform: scaleX(0);
				-ms-transform: scaleX(0);
				transform: scaleX(0);
			}
				.preview .element.elementActive.scaleX{
					-webkit-transform: scaleX(1);
					-moz-transform: scaleX(1);
					-ms-transform: scaleX(1);
					transform: scaleX(1);
				}
			.preview .element.elementInactive.scaleY{
				-webkit-transform: scaleY(0);
				-moz-transform: scaleY(0);
				-ms-transform: scaleY(0);
				transform: scaleY(0);
			}
				.preview .element.elementActive.scaleY{
					-webkit-transform: scaleY(1);
					-moz-transform: scaleY(1);
					-ms-transform: scaleY(1);
					transform: scaleY(1);
				}

/*--------------------------SECTIONS----------------------*/
		.preview .sectionLeftInactive{
			left:-105%;
			opacity: 0;
		}	
			.preview .sectionLeft.roll{
				opacity: 0;
				-webkit-transform: rotateY(90deg) scale(.5);
				-moz-transform: rotateY(90deg) scale(.5);
				-ms-transform: rotateY(90deg) scale(.5);
				transform: rotateY(90deg) scale(.5);
			}
			.preview .sectionLeft.stack{
				left:0%;
				opacity:0;
				-webkit-transform: scale(.5);
				-moz-transform: scale(.5);
				-ms-transform: scale(.5);
				transform: scale(.5);
			}	
			.preview .sectionLeft.ease{
				left:0%;
				opacity:0;
			}	
			.preview .sectionLeft.parallax{
				left:-50%;
				opacity: 1;
			}	
			.preview .sectionLeft.zoomIn{
				left:0%;
				opacity:0;
				-webkit-transform: scale(5);
				-moz-transform: scale(5);
				-ms-transform: scale(5);
				transform: scale(5);
			}	
			.preview .sectionLeft.zoomOut{
				left:0%;
				opacity:0;
				-webkit-transform: scale(.5);
				-moz-transform: scale(.5);
				-ms-transform: scale(.5);
				transform: scale(.5);
			}	
	.preview .sectionRight{
		left:100%;
		opacity: 1;
	}
		.preview .sectionRightInactive{
			left:105%;
			opacity: 0;
		}
			.preview .sectionRight.roll{
				opacity: 0;
				-webkit-transform: rotateY(-90deg) scale(.5);
				-moz-transform: rotateY(-90deg) scale(.5);
				-ms-transform: rotateY(-90deg) scale(.5);
				transform: rotateY(-90deg) scale(.5);
			}
			.preview .sectionRight.stack{
				opacity: 1;
			}	
			.preview .sectionRight.ease{
				left:0%;
				opacity:0;
			}	
			.preview .sectionRight.parallax{
				left:100%;
				opacity: 1;
			}
			.preview .sectionRight.zoomIn{
				left:0%;
				opacity:0;
				-webkit-transform: scale(.5);
				-moz-transform: scale(.5);
				-ms-transform: scale(.5);
				transform: scale(.5);
			}	
			.preview .sectionRight.zoomOut{
				left:0%;
				opacity:0;
				-webkit-transform: scale(5);
				-moz-transform: scale(5);
				-ms-transform: scale(5);
				transform: scale(5);
			}	
/*--------------------------SUBSECTIONS----------------------*/
	.preview .subSectionBottom{
		top:100%;
		opacity: 1;
	}
		.preview .subSectionBottomInactive{
			top:105%;
			opacity: 0;
		}	
			.preview .subSectionBottom.roll{
				-webkit-transform: rotateX(90deg) scale(.5);
				-moz-transform: rotateX(90deg) scale(.5);
				-ms-transform: rotateX(90deg) scale(.5);
				transform: rotateX(90deg) scale(.5);
			}
			.preview .subSectionBottom.stack{
				top:100%;
				opacity:1;
			}
			.preview .subSectionBottom.ease{
				top:0%;
				opacity:0;
			}	
			.preview .subSectionBottom.parallax{
				top:100%;
				opacity:1;
			}	
			.preview .subSectionBottom.zoomIn{
				top:0%;
				opacity:0;
				-webkit-transform: scale(.5);
				-moz-transform: scale(.5);
				-ms-transform: scale(.5);
				transform: scale(.5);
			}	
			.preview .subSectionBottom.zoomOut{
				top:0%;
				opacity:0;
				-webkit-transform: scale(5);
				-moz-transform: scale(5);
				-ms-transform: scale(5);
				transform: scale(5);
			}	
	.preview .subSectionTop{
		top:-100%;
		opacity: 1;
	}
		.preview .subSectionTopInactive{
			top:-105%;
			opacity: 0;
		}	
			.preview .subSectionTop.roll{
				-webkit-transform: rotateX(-90deg) scale(.5);
				-moz-transform: rotateX(-90deg) scale(.5);
				-ms-transform: rotateX(-90deg) scale(.5);
				transform: rotateX(-90deg) scale(.5);
			}
			.preview .subSectionTop.stack{
				top:0%;
				opacity:0;
				-webkit-transform: scale(0.1);
				-moz-transform: scale(0.1);
				-ms-transform: scale(0.1);
				transform: scale(0.1);
			}
			.preview .subSectionTop.ease{
				top:0%;
				opacity:0;
			}
			.preview .subSectionTop.parallax{
				top:-50%;
				opacity:1;
			}	
			.preview .subSectionTop.zoomIn{
				top:0%;
				opacity:0;
				-webkit-transform: scale(5);
				-moz-transform: scale(5);
				-ms-transform: scale(5);
				transform: scale(5);
			}
			.preview .subSectionTop.zoomOut{
				top:0%;
				opacity:0;
				-webkit-transform: scale(.5);
				-moz-transform: scale(.5);
				-ms-transform: scale(.5);
				transform: scale(.5);
			}	
