@media print and (min-width: 480px){
.editor{
	display: block;
	border: 3px dashed rgba(243,198,4,.5);
	width:100%;
	height:100%;
	position: absolute;
	top: 0%;
	right: 0%;
	z-index: 500;
	margin: none;
}
}