/*-----------------HOME-TABLE----------------------*/
.user-information-table{
	width:80%;
	min-width: 700px;
	margin:20px auto;
	color:#FFFFFF;
	font-size: 12px;
	letter-spacing: 2px;
}
	.user-information-table .row{
		height:71px;
		margin-top:5px;
		cursor:pointer; 
		color: #CCCCCC;
	}
	.user-information-table .row:hover{
		background-color: rgba(0,0,0,0.1);
		color:#AD9419;
	}
		.user-information-table .row .col{
			float: left;
			height:70px;
			padding:0px 5px;
		}
			.user-information-table .row .col span{
				line-height: 70px;
			}
		.user-information-table .row .col-firstname{
			width:19%;
			padding-left: 10px;
		}
		.user-information-table .row .col-lastname{
			width:18%;
		}
		.user-information-table .row .col-email{
			width:20%;
		}
		.user-information-table .row .col-password{
			width:15%;
		}
		.user-information-table .row .col-presentations{
			width:15%;
		}
			.user-information-table .row .col-presentations .userPresentations{
				background-color: rgba(0,0,0,0.3);
				width:100%;
				height:70px;
				overflow-y:scroll; 
				cursor: default;
			}
				.user-information-table .row .col-presentations .userPresentations span{	
					line-height: 20px;	
					clear: both;
				}
				.user-information-table .row .col-presentations .userPresentations span:hover{	
					color:#CCCCCC;
				}
					.user-information-table .row .col-presentations .userPresentations .userPres{
						padding-left:5px;
						cursor: pointer;
					}
		.user-information-table .row .col-action{
			width:13%;
			text-align: center;
			padding-right:15px;
			font-size: 16px;
		}
	.user-information-table .row.row-head{
		height:35px;
		background-color:rgba(0,0,0,0.5);
		color:#AD9419;
	}
		.user-information-table .row.row-head>*{
			height:35px;
			text-transform: uppercase;
			letter-spacing: 5px;
			line-height: 35px;
			font-size:16px;
		}
		.user-information-table .row.row-head .col-date{
			padding:0px;
			width:12%;
		}
		.user-information-table .row.row-head .col-action{
			padding:0px;
			width:13%;
		}
		.user-information-table .row.row-head>*:hover{
			color:#CCCCCC;
		}
			.user-information-table .row.row-head .col-action input[type="text"]{
				height:35px;
				width:100%;
				float:right;
				padding-left: 15px;
				border:none;
				background-color: rgba(0,0,0,0.3);
				border-left:1px dashed #AAAAAA;
				color:#AAA;
			}