<html ng-app="PresentationApp">
	<head>

		<meta charset="UTF-8">
		<title>Lammert Import-</title>

		<link rel="stylesheet" href="css/preview.css">
		<link rel="stylesheet" href="css/preset/designs.css">
		<link rel="stylesheet" href="css/preset/fonts.css">
		<link rel="stylesheet" href="css/preset/colors.css">

		<script src="libs/angular.js"></script>
		<script src="js/app.js"></script>

	</head>
	<body>
		<div class="preview" ng-controller="PrevCtrl">

			<div class="">

				<div id="0" ng-class="{section:true, sectionLeft:0==activeSection-1, sectionRight:0==activeSection+1, sectionLeftInactive:0<activeSection-1, sectionRightInactive:0>activeSection+1}" class="roll">
					<div id="0" class="subsection designsynergetic roll  colorcombisynergetic" ng-class="{active:activeSubSection==0&&activeSection==0, subSectionTop:0==activeSection&&0==activeSubSection-1||0==activeSection-1&&0<=activeSubSection, subSectionBottom:0==activeSection&&0==activeSubSection+1||0==activeSection+1&&0>0}" ng-click="chooseSubSection(0,0)">
						<div class="elementwrapper">
							<div id="0" class="element text alignmentcenter fontmiddle roll" ng-class="{elementInactive:0>=activeElement&&activeSubSection==0&&'text'=='fragment',elementActive:activeElement>0&&0==activeSection||'text'!='fragment'&&0==activeSection}" style="marginBottom:-1px;marginTop:1px;width:75%;"><h1>Heading 1</h1></div>
						</div>
						<div class="elementwrapper">
							<div id="1" class="element fragment alignmentcenter fontmiddle roll" ng-class="{elementInactive:1>=activeElement&&activeSubSection==0&&'fragment'=='fragment',elementActive:activeElement>1&&0==activeSection||'fragment'!='fragment'&&0==activeSection}" style="line-height:1px;width:20%;"><img src="img/0000.png" width="100%"></div>
						</div>
						<div class="elementwrapper">
							<div id="2" class="element fragment alignmentcenter fontmiddle roll" ng-class="{elementInactive:2>=activeElement&&activeSubSection==0&&'fragment'=='fragment',elementActive:activeElement>2&&0==activeSection||'fragment'!='fragment'&&0==activeSection}" style="line-height:1px;width:18%;"><img src="img/0001.jpg" width="100%"></div>
						</div>
						<div class="elementwrapper">
							<div id="3" class="element fragment alignmentcenter fontmiddle roll" ng-class="{elementInactive:3>=activeElement&&activeSubSection==0&&'fragment'=='fragment',elementActive:activeElement>3&&0==activeSection||'fragment'!='fragment'&&0==activeSection}" style="line-height:1px;width:17%;"><img src="img/0002.jpg" width="100%"></div>
						</div>
					</div>
					<div id="1" class="subsection designsynergetic roll  colorcombisynergetic" ng-class="{active:activeSubSection==1&&activeSection==0, subSectionTop:0==activeSection&&1==activeSubSection-1||0==activeSection-1&&1<=activeSubSection, subSectionBottom:0==activeSection&&1==activeSubSection+1||0==activeSection+1&&1>0}" ng-click="chooseSubSection(0,1)">
						<div class="elementwrapper">
							<div id="0" class="element text alignmentcenter fontmiddle roll" ng-class="{elementInactive:0>=activeElement&&activeSubSection==1&&'text'=='fragment',elementActive:activeElement>0&&0==activeSection||'text'!='fragment'&&0==activeSection}" style="width:75%;"><h1>Heading 1</h1></div>
						</div>
						<div class="elementwrapper">
							<div id="1" class="element fragment alignmentcenter fontmiddle roll" ng-class="{elementInactive:1>=activeElement&&activeSubSection==1&&'fragment'=='fragment',elementActive:activeElement>1&&0==activeSection||'fragment'!='fragment'&&0==activeSection}" style="line-height:1px;width:80%;"><img class="" src="img/loveIs2.jpg" width="100%"></div>
						</div>
					</div>
					<div id="2" class="subsection designsynergetic roll  colorcombisynergetic" ng-class="{active:activeSubSection==2&&activeSection==0, subSectionTop:0==activeSection&&2==activeSubSection-1||0==activeSection-1&&2<=activeSubSection, subSectionBottom:0==activeSection&&2==activeSubSection+1||0==activeSection+1&&2>0}" ng-click="chooseSubSection(0,2)">
					</div>
				</div>
				<div id="1" ng-class="{section:true, sectionLeft:1==activeSection-1, sectionRight:1==activeSection+1, sectionLeftInactive:1<activeSection-1, sectionRightInactive:1>activeSection+1}" class="roll">
					<div id="0" class="subsection designsynergetic roll  colorcombisynergetic" ng-class="{active:activeSubSection==0&&activeSection==1, subSectionTop:1==activeSection&&0==activeSubSection-1||1==activeSection-1&&0<=activeSubSection, subSectionBottom:1==activeSection&&0==activeSubSection+1||1==activeSection+1&&0>0}" ng-click="chooseSubSection(1,0)">
						<div class="elementwrapper">
							<div id="0" class="element fragment alignmentcenter fontmiddle roll" ng-class="{elementInactive:0>=activeElement&&activeSubSection==0&&'fragment'=='fragment',elementActive:activeElement>0&&1==activeSection||'fragment'!='fragment'&&1==activeSection}" style="line-height:1px;width:20%;"><img src="img/risse.jpg" width="100%"></div>
						</div>
						<div class="elementwrapper">
							<div id="1" class="element fragment alignmentcenter fontmiddle roll" ng-class="{elementInactive:1>=activeElement&&activeSubSection==0&&'fragment'=='fragment',elementActive:activeElement>1&&1==activeSection||'fragment'!='fragment'&&1==activeSection}" style="line-height:1px;width:24%;"><img src="img/wochenende.jpg" width="100%"><br></div>
						</div>
					</div>
				</div>
				<div id="2" ng-class="{section:true, sectionLeft:2==activeSection-1, sectionRight:2==activeSection+1, sectionLeftInactive:2<activeSection-1, sectionRightInactive:2>activeSection+1}" class="roll">
					<div id="0" class="subsection designsynergetic roll  colorcombisynergetic" ng-class="{active:activeSubSection==0&&activeSection==2, subSectionTop:2==activeSection&&0==activeSubSection-1||2==activeSection-1&&0<=activeSubSection, subSectionBottom:2==activeSection&&0==activeSubSection+1||2==activeSection+1&&0>0}" ng-click="chooseSubSection(2,0)">
						<div class="elementwrapper">
							<div id="0" class="element text alignmentcenter fontmiddle roll" ng-class="{elementInactive:0>=activeElement&&activeSubSection==0&&'text'=='fragment',elementActive:activeElement>0&&2==activeSection||'text'!='fragment'&&2==activeSection}" style="width:75%;"><p>Normal text</p></div>
						</div>
						<div class="elementwrapper">
							<div id="1" class="element text alignmentcenter fontmiddle roll" ng-class="{elementInactive:1>=activeElement&&activeSubSection==0&&'text'=='fragment',elementActive:activeElement>1&&2==activeSection||'text'!='fragment'&&2==activeSection}" style="width:75%;"><h1>Heading 1</h1></div>
						</div>
						<div class="elementwrapper">
							<div id="2" class="element table alignmentcenter fontmiddle roll" ng-class="{elementInactive:2>=activeElement&&activeSubSection==0&&'table'=='fragment',elementActive:activeElement>2&&2==activeSection||'table'!='fragment'&&2==activeSection}" style="background-color:rgba(0,0,0,0.1);width:75%;"><table><tr><th>Head1</th><th>Head2</th></tr><tr><td>Data1</td><td>Data2</td></tr><tr><td>Data1</td><td>Data2</td></tr></table></div>
						</div>
					</div>
					<div id="1" class="subsection designsynergetic roll  colorcombisynergetic" ng-class="{active:activeSubSection==1&&activeSection==2, subSectionTop:2==activeSection&&1==activeSubSection-1||2==activeSection-1&&1<=activeSubSection, subSectionBottom:2==activeSection&&1==activeSubSection+1||2==activeSection+1&&1>0}" ng-click="chooseSubSection(2,1)">
						<div class="elementwrapper">
							<div id="0" class="element text alignmentcenter fontmiddle roll" ng-class="{elementInactive:0>=activeElement&&activeSubSection==1&&'text'=='fragment',elementActive:activeElement>0&&2==activeSection||'text'!='fragment'&&2==activeSection}" style="width:75%;"><h1><br><br>Ende</h1></div>
						</div>
					</div>
				</div>
			</div>

		</div>


		<div class="overview" ng-if="view=='overview'">

			<div class="">

				<div id="0" ng-class="{section:true, sectionLeft:0==activeSection-1, sectionRight:0==activeSection+1, sectionLeftInactive:0<activeSection-1, sectionRightInactive:0>activeSection+1}" class="roll">
					<div id="0" class="subsection designsynergetic roll  colorcombisynergetic" ng-class="{active:activeSubSection==0&&activeSection==0, subSectionTop:0==activeSection&&0==activeSubSection-1||0==activeSection-1&&0<=activeSubSection, subSectionBottom:0==activeSection&&0==activeSubSection+1||0==activeSection+1&&0>0}" ng-click="chooseSubSection(0,0)">
						<div class="elementwrapper">
							<div id="0" class="element text alignmentcenter fontmiddle roll" ng-class="{elementInactive:0>=activeElement&&activeSubSection==0&&'text'=='fragment',elementActive:activeElement>0&&0==activeSection||'text'!='fragment'&&0==activeSection}" style="marginBottom:-1px;marginTop:1px;width:75%;"><h1>Heading 1</h1></div>
						</div>
						<div class="elementwrapper">
							<div id="1" class="element fragment alignmentcenter fontmiddle roll" ng-class="{elementInactive:1>=activeElement&&activeSubSection==0&&'fragment'=='fragment',elementActive:activeElement>1&&0==activeSection||'fragment'!='fragment'&&0==activeSection}" style="line-height:1px;width:20%;"><img src="img/0000.png" width="100%"></div>
						</div>
						<div class="elementwrapper">
							<div id="2" class="element fragment alignmentcenter fontmiddle roll" ng-class="{elementInactive:2>=activeElement&&activeSubSection==0&&'fragment'=='fragment',elementActive:activeElement>2&&0==activeSection||'fragment'!='fragment'&&0==activeSection}" style="line-height:1px;width:18%;"><img src="img/0001.jpg" width="100%"></div>
						</div>
						<div class="elementwrapper">
							<div id="3" class="element fragment alignmentcenter fontmiddle roll" ng-class="{elementInactive:3>=activeElement&&activeSubSection==0&&'fragment'=='fragment',elementActive:activeElement>3&&0==activeSection||'fragment'!='fragment'&&0==activeSection}" style="line-height:1px;width:17%;"><img src="img/0002.jpg" width="100%"></div>
						</div>
					</div>
					<div id="1" class="subsection designsynergetic roll  colorcombisynergetic" ng-class="{active:activeSubSection==1&&activeSection==0, subSectionTop:0==activeSection&&1==activeSubSection-1||0==activeSection-1&&1<=activeSubSection, subSectionBottom:0==activeSection&&1==activeSubSection+1||0==activeSection+1&&1>0}" ng-click="chooseSubSection(0,1)">
						<div class="elementwrapper">
							<div id="0" class="element text alignmentcenter fontmiddle roll" ng-class="{elementInactive:0>=activeElement&&activeSubSection==1&&'text'=='fragment',elementActive:activeElement>0&&0==activeSection||'text'!='fragment'&&0==activeSection}" style="width:75%;"><h1>Heading 1</h1></div>
						</div>
						<div class="elementwrapper">
							<div id="1" class="element fragment alignmentcenter fontmiddle roll" ng-class="{elementInactive:1>=activeElement&&activeSubSection==1&&'fragment'=='fragment',elementActive:activeElement>1&&0==activeSection||'fragment'!='fragment'&&0==activeSection}" style="line-height:1px;width:80%;"><img class="" src="img/loveIs2.jpg" width="100%"></div>
						</div>
					</div>
					<div id="2" class="subsection designsynergetic roll  colorcombisynergetic" ng-class="{active:activeSubSection==2&&activeSection==0, subSectionTop:0==activeSection&&2==activeSubSection-1||0==activeSection-1&&2<=activeSubSection, subSectionBottom:0==activeSection&&2==activeSubSection+1||0==activeSection+1&&2>0}" ng-click="chooseSubSection(0,2)">
					</div>
				</div>
				<div id="1" ng-class="{section:true, sectionLeft:1==activeSection-1, sectionRight:1==activeSection+1, sectionLeftInactive:1<activeSection-1, sectionRightInactive:1>activeSection+1}" class="roll">
					<div id="0" class="subsection designsynergetic roll  colorcombisynergetic" ng-class="{active:activeSubSection==0&&activeSection==1, subSectionTop:1==activeSection&&0==activeSubSection-1||1==activeSection-1&&0<=activeSubSection, subSectionBottom:1==activeSection&&0==activeSubSection+1||1==activeSection+1&&0>0}" ng-click="chooseSubSection(1,0)">
						<div class="elementwrapper">
							<div id="0" class="element fragment alignmentcenter fontmiddle roll" ng-class="{elementInactive:0>=activeElement&&activeSubSection==0&&'fragment'=='fragment',elementActive:activeElement>0&&1==activeSection||'fragment'!='fragment'&&1==activeSection}" style="line-height:1px;width:20%;"><img src="img/risse.jpg" width="100%"></div>
						</div>
						<div class="elementwrapper">
							<div id="1" class="element fragment alignmentcenter fontmiddle roll" ng-class="{elementInactive:1>=activeElement&&activeSubSection==0&&'fragment'=='fragment',elementActive:activeElement>1&&1==activeSection||'fragment'!='fragment'&&1==activeSection}" style="line-height:1px;width:24%;"><img src="img/wochenende.jpg" width="100%"><br></div>
						</div>
					</div>
				</div>
				<div id="2" ng-class="{section:true, sectionLeft:2==activeSection-1, sectionRight:2==activeSection+1, sectionLeftInactive:2<activeSection-1, sectionRightInactive:2>activeSection+1}" class="roll">
					<div id="0" class="subsection designsynergetic roll  colorcombisynergetic" ng-class="{active:activeSubSection==0&&activeSection==2, subSectionTop:2==activeSection&&0==activeSubSection-1||2==activeSection-1&&0<=activeSubSection, subSectionBottom:2==activeSection&&0==activeSubSection+1||2==activeSection+1&&0>0}" ng-click="chooseSubSection(2,0)">
						<div class="elementwrapper">
							<div id="0" class="element text alignmentcenter fontmiddle roll" ng-class="{elementInactive:0>=activeElement&&activeSubSection==0&&'text'=='fragment',elementActive:activeElement>0&&2==activeSection||'text'!='fragment'&&2==activeSection}" style="width:75%;"><p>Normal text</p></div>
						</div>
						<div class="elementwrapper">
							<div id="1" class="element text alignmentcenter fontmiddle roll" ng-class="{elementInactive:1>=activeElement&&activeSubSection==0&&'text'=='fragment',elementActive:activeElement>1&&2==activeSection||'text'!='fragment'&&2==activeSection}" style="width:75%;"><h1>Heading 1</h1></div>
						</div>
						<div class="elementwrapper">
							<div id="2" class="element table alignmentcenter fontmiddle roll" ng-class="{elementInactive:2>=activeElement&&activeSubSection==0&&'table'=='fragment',elementActive:activeElement>2&&2==activeSection||'table'!='fragment'&&2==activeSection}" style="background-color:rgba(0,0,0,0.1);width:75%;"><table><tr><th>Head1</th><th>Head2</th></tr><tr><td>Data1</td><td>Data2</td></tr><tr><td>Data1</td><td>Data2</td></tr></table></div>
						</div>
					</div>
					<div id="1" class="subsection designsynergetic roll  colorcombisynergetic" ng-class="{active:activeSubSection==1&&activeSection==2, subSectionTop:2==activeSection&&1==activeSubSection-1||2==activeSection-1&&1<=activeSubSection, subSectionBottom:2==activeSection&&1==activeSubSection+1||2==activeSection+1&&1>0}" ng-click="chooseSubSection(2,1)">
						<div class="elementwrapper">
							<div id="0" class="element text alignmentcenter fontmiddle roll" ng-class="{elementInactive:0>=activeElement&&activeSubSection==1&&'text'=='fragment',elementActive:activeElement>0&&2==activeSection||'text'!='fragment'&&2==activeSection}" style="width:75%;"><h1><br><br>Ende</h1></div>
						</div>
					</div>
				</div>
			</div>


		</div>


	</body>
</html>