.backgroundnone{
	background: none;
}
.backgroundcolorred{
	background: rgb(255,102,102);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,102,102,1) 0%, rgba(178,17,17,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,102,102,1)), color-stop(100%,rgba(178,17,17,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,102,102,1) 0%,rgba(178,17,17,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,102,102,1) 0%,rgba(178,17,17,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,102,102,1) 0%,rgba(178,17,17,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(255,102,102,1) 0%,rgba(178,17,17,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6666', endColorstr='#b21111',GradientType=1 );
}
.backgroundcolorgreen{
	background: rgb(102,255,153);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(102,255,153,1) 0%, rgba(17,173,69,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(102,255,153,1)), color-stop(100%,rgba(17,173,69,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(102,255,153,1) 0%,rgba(17,173,69,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(102,255,153,1) 0%,rgba(17,173,69,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(102,255,153,1) 0%,rgba(17,173,69,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(102,255,153,1) 0%,rgba(17,173,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ff99', endColorstr='#11ad45',GradientType=1 );
}
.backgroundcolorblue{
	background: rgb(102,130,255);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(102,130,255,1) 0%, rgba(17,42,170,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(102,130,255,1)), color-stop(100%,rgba(17,42,170,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(102,130,255,1) 0%,rgba(17,42,170,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(102,130,255,1) 0%,rgba(17,42,170,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(102,130,255,1) 0%,rgba(17,42,170,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(102,130,255,1) 0%,rgba(17,42,170,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6682ff', endColorstr='#112aaa',GradientType=1 );
}
.backgroundcolorlight{
	background: rgb(255,255,255);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(178,178,178,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(178,178,178,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(178,178,178,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(178,178,178,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(178,178,178,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(178,178,178,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b2b2b2',GradientType=1 );
}
.backgroundcolordark{
	background: rgb(76,76,76);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(76,76,76,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(76,76,76,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(76,76,76,1) 0%,rgba(0,0,0,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(76,76,76,1) 0%,rgba(0,0,0,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(76,76,76,1) 0%,rgba(0,0,0,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(76,76,76,1) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#000000',GradientType=1 );
}

.backgroundsynergetic{
	background:url('../../img/synergetic.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.backgroundnonplus{
	background: rgb(48,40,7);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(48,40,7,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(48,40,7,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(48,40,7,1) 0%,rgba(0,0,0,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(48,40,7,1) 0%,rgba(0,0,0,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(48,40,7,1) 0%,rgba(0,0,0,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(48,40,7,1) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#302807', endColorstr='#000000',GradientType=1 );
}

/*----------------------------------*/

.colorcombinonplus{
	color:#CCCCCC;
}
.colorcombinonplus h1, .colorcombinonplus h3, .colorcombinonplus h4{
	color:#AD9419;
}
.colorcombinonplus h2{
	color:#AAAAAA;
}

.colorcombisynergetic{
	color:#000000;
}
.colorcombisynergetic h1, .colorcombisynergetic h3, .colorcombisynergetic h4{
	color:#189200;
}
.colorcombisynergetic h2{
	color:#22CC00;
}

.colorcombired{
	color:#120100;
}
.colorcombired h1, .colorcombired h3, .colorcombired h4{
	color:#7F0903;
}
.colorcombired h2{
	color:#CC0E05;
}

.colorcombigreen{
	color:#000A00;
}
.colorcombigreen h1, .colorcombigreen h3, .colorcombigreen h4{
	color:#005400;
}
.colorcombigreen h2{
	color:#287F26;
}

.colorcombiblue{
	color:#00020A;
}
.colorcombiblue h1, .colorcombiblue h3, .colorcombiblue h4{
	color:#001B7F;
}
.colorcombiblue h2{
	color:#26397F;
}

.colorcombilight{
	color:#FFFFFF;
}
.colorcombilight h1, .colorcombilight h3, .colorcombilight h4{
	color:#FFFFFF;
}
.colorcombilight h2{
	color:#CCCCCC;
}

.colorcombidark{
	color:#1D1F1D;
}
.colorcombidark h1, .colorcombidark h3, .colorcombidark h4{
	color:#524A45;
}
.colorcombidark h2{
	color:#6B6460;
}
