.fonttimesnewroman *{
	font-family: 'Times New Roman';
}
.fontarial *{
	font-family: 'Arial';
}
.fontcomicsans *{
	font-family: 'Comic Sans MS';
}
.fontcalibri *{
	font-family: 'Calibri';
}

.fonttiny{
	font-size: 28px;
}
.fontsmall{
	font-size: 36px;
}
.fontmedium{
	font-size: 46px;
}
.fontbig{
	font-size: 68px;
}

.fontred{
	color:#ff0000;
}
.fontgreen{
	color:#00ff00;
}
.fontblue{
	color:#0000ff;
}
.fontblack{
	color:#000000;
}
.fontwhite{
	color:#ffffff;
}
.fontlightgrey{
	color:#aaaaaa;
}
.fontdarkgrey{
	color:#555555;
}


.fontleft{
	text-align:left;
}
.fontright{
	text-align:right;
}
.fontmiddle{
	text-align:center;
}