.alignmentcenter{
	margin:0 auto;
}
.alignmentleft{
	float:left;
	clear: left;
}
.alignmentright{
	float:right;
	clear:right;
}

/*---------------------------------------------DESIGNS------------------------------------------------------------------*/

.designnon{
	background: none;
	font-size: 38px;
	color:#FFFFFF;
}
.designnon h1, .designnon h3, .designnon h4{
	color:#CCCCCC;
}
 .designnon h1{
 	font-size: 230%;
 	letter-spacing: 5px;
 }
 .designnon h2{
	font-size:100%;
 	line-height: 26px;
	color:#AAAAAA;
 	letter-spacing: 10px;
 }
 .designnon p, .designnon table, .designnon ul, .designnon ol{
	font-size:80%;
 }
.designnon table{
	background-color:rgba(0,0,0,0.1);
	width: 100%;
	border-spacing: 0px;
}
.designnon table th{
	background-color:rgba(0,0,0,0.2);
	border-bottom: 1px solid #777;
}
.designnon table tr:nth-of-type(2n+1){
	background-color:rgba(0,0,0,0.1);
}
/*----------------------------------------------------------------*/

.designnonplus{
	background: rgb(48,40,7);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(48,40,7,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(48,40,7,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(48,40,7,1) 0%,rgba(0,0,0,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(48,40,7,1) 0%,rgba(0,0,0,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(48,40,7,1) 0%,rgba(0,0,0,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(48,40,7,1) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#302807', endColorstr='#000000',GradientType=1 );
	font-size: 38px;
	color:#CCCCCC;
}
.designnonplus h1, .designnonplus h3, .designnonplus h4{
	color:#AD9419;
}
 .designnonplus h1{
 	font-size: 230%;
 	letter-spacing: 5px;
 }
 .designnonplus h2{
	font-size:100%;
 	line-height: 26px;
	color:#AAAAAA;
 	letter-spacing: 10px;
 }
 .designnonplus p, .designnonplus table, .designnonplus ul, .designnonplus ol{
	font-size:80%;
 }
.designnonplus table{
	background-color:rgba(0,0,0,0.1);
	width: 100%;
	border-spacing: 0px;
}
.designnonplus table th{
	background-color:rgba(0,0,0,0.4);
	border-bottom: 1px solid #777;
}
.designnonplus table tr:nth-of-type(2n+1){
	background-color:rgba(0,0,0,0.2);
}
/*----------------------------------------------------------------*/

.designsynergetic{
	background:url('../../img/synergetic.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;font-size: 38px;
	color:#000000;
}
.designsynergetic h1, .designsynergetic h3, .designsynergetic h4{
	color:#189200;
}
 .designsynergetic h1{
 	font-size: 230%;
 	letter-spacing: 5px;
 }
 .designsynergetic h2{
	font-size:100%;
 	line-height: 26px;
	color:#22CC00;
 	letter-spacing: 10px;
 }
 .designsynergetic p, .designsynergetic table, .designsynergetic ul, .designsynergetic ol{
	font-size:80%;
 }
.designsynergetic table{
	background-color:rgba(0,0,0,0.1);
	width: 100%;
	border-spacing: 0px;
}
.designsynergetic table th{
	background-color:rgba(0,0,0,0.4);
	border-bottom: 1px solid #777;
}
.designsynergetic table tr:nth-of-type(2n+1){
	background-color:rgba(0,0,0,0.2);
}
/*----------------------------------------------------------------*/

.designred{
	background: rgb(255,102,102);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,102,102,1) 0%, rgba(178,17,17,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,102,102,1)), color-stop(100%,rgba(178,17,17,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,102,102,1) 0%,rgba(178,17,17,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,102,102,1) 0%,rgba(178,17,17,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,102,102,1) 0%,rgba(178,17,17,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(255,102,102,1) 0%,rgba(178,17,17,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6666', endColorstr='#b21111',GradientType=1 );
	font-size: 38px;
	color:#050000;
}
.designred h1, .designred h3, .designred h4{
	color:#FEE;
}
 .designred h1{
 	font-size: 230%;
 	letter-spacing: 5px;
 }
 .designred h2{
 	font-size: 100%;
 	line-height: 26px;
	color:#FCC;
 	letter-spacing: 10px;
 }
 .designred p{
 	font-size: 80%;
 }
.designred table{
	background-color:rgba(0,0,0,0.1);
	border-spacing: 0px;
	width:100%;
}
.designred table th{
	background-color:rgba(0,0,0,0.4);
	border-bottom: 1px solid #777;
}
.designred table tr:nth-of-type(2n+1){
	background-color:rgba(0,0,0,0.2);
}

/*----------------------------------------------------------------*/

.designgreen{
	background: rgb(102,255,153);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(102,255,153,1) 0%, rgba(17,173,69,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(102,255,153,1)), color-stop(100%,rgba(17,173,69,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(102,255,153,1) 0%,rgba(17,173,69,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(102,255,153,1) 0%,rgba(17,173,69,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(102,255,153,1) 0%,rgba(17,173,69,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(102,255,153,1) 0%,rgba(17,173,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ff99', endColorstr='#11ad45',GradientType=1 );
	font-size: 38px;
	color:#000500;
}
.designgreen h1, .designgreen h3, .designgreen h4{
	color:#EFE;
}
 .designgreen h1{
 	font-size: 230%;
 	letter-spacing: 5px;
 }
 .designgreen h2{
 	font-size: 100%;
 	line-height: 26px;
	color:#CFC;
 	letter-spacing: 10px;
 }
 .designgreen p{
 	font-size: 80%;
 }
.designgreen table{
	background-color:rgba(0,0,0,0.1);
	border-spacing: 0px;
	width:100%;
}
.designgreen table th{
	background-color:rgba(0,0,0,0.4);
	border-bottom: 1px solid #777;
}
.designgreen table tr:nth-of-type(2n+1){
	background-color:rgba(0,0,0,0.2);
}


/*----------------------------------------------------------------*/

.designblue{
	background: rgb(102,130,255);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(102,130,255,1) 0%, rgba(17,42,170,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(102,130,255,1)), color-stop(100%,rgba(17,42,170,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(102,130,255,1) 0%,rgba(17,42,170,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(102,130,255,1) 0%,rgba(17,42,170,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(102,130,255,1) 0%,rgba(17,42,170,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(102,130,255,1) 0%,rgba(17,42,170,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6682ff', endColorstr='#112aaa',GradientType=1 );
	font-size: 38px;
	color:#000005;
}
.designblue h1, .designblue h3, .designblue h4{
	color:#EEF;
}
 .designblue h1{
 	font-size: 230%;
 	letter-spacing: 5px;
 }
 .designblue h2{
 	font-size: 100%;
 	line-height: 26px;
	color:#CCF;
 	letter-spacing: 10px;
 }
 .designblue p{
 	font-size: 80%;
 }
.designblue table{
	background-color:rgba(0,0,0,0.1);
	border-spacing: 0px;
	width:100%;
}
.designblue table th{
	background-color:rgba(0,0,0,0.4);
	border-bottom: 1px solid #777;
}
.designblue table tr:nth-of-type(2n+1){
	background-color:rgba(0,0,0,0.2);
}


/*----------------------------------------------------------------*/

.designlight{
	background: rgb(255,255,255);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(178,178,178,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(178,178,178,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(178,178,178,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(178,178,178,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(178,178,178,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(178,178,178,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b2b2b2',GradientType=1 );
	font-size: 38px;
	color:#333333;
}
.designlight h1, .designlight h3, .designlight h4{
	color:#555;
}
 .designlight h1{
 	font-size: 230%;
 	letter-spacing: 5px;
 }
 .designlight h2{
 	font-size: 100%;
 	line-height: 26px;
	color:#777;
 	letter-spacing: 10px;
 }
 .designlight p{
 	font-size: 80%;
 }
.designlight table{
	background-color:rgba(0,0,0,0.1);
	border-spacing: 0px;
	width:100%;
}
.designlight table th{
	background-color:rgba(0,0,0,0.4);
	border-bottom: 1px solid #777;
}
.designlight table tr:nth-of-type(2n+1){
	background-color:rgba(0,0,0,0.2);
}


/*----------------------------------------------------------------*/

.designdark{
	background: rgb(76,76,76);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(76,76,76,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(76,76,76,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(76,76,76,1) 0%,rgba(0,0,0,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(76,76,76,1) 0%,rgba(0,0,0,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(76,76,76,1) 0%,rgba(0,0,0,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(76,76,76,1) 0%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#000000',GradientType=1 );
	font-size: 38px;
	color:#EEEEEE;
}
.designdark h1, .designdark h3, .designdark h4{
	color:#FFFFFF;
}
 .designdark h1{
 	font-size: 230%;
 	letter-spacing: 5px;
 }
 .designdark h2{
 	font-size: 100%;
 	line-height: 26px;
	color:#CCCCCC;
 	letter-spacing: 10px;
 }
 .designdark p{
 	font-size: 80%;
 }
.designdark table{
	background-color:rgba(0,0,0,0.1);
	border-spacing: 0px;
	width:100%;
}
.designdark table th{
	background-color:rgba(0,0,0,0.4);
	border-bottom: 1px solid #777;
}
.designdark table tr:nth-of-type(2n+1){
	background-color:rgba(0,0,0,0.2);
}
