
<div fullscreen="isFullscreen" class="background">
<!-- Sidebar -->
	<img src="img/nonplus1.2.png" width="200px" id="logo">
	<div class="nav">
		<div ng-include="'views/partials/sidebar_views.html'"></div>
		<div ng-include="'views/partials/sidebar_components.html'"></div>
	</div>
	<!-- PREVIEW -->
	<div class="editor" ng-drop="viewEditor" ng-if="!confirmed">
		<div ng-include="'views/partials/presentation.html'"></div>
	</div>
	<!-- Popup -->
				<div ng-if="presentation.css[0].GoogleFont!=null&&activeGooglefont!=null">
					<style type="text/css"> @import url("http://fonts.googleapis.com/css?family={{activeGooglefont}}"); </style>
				</div>
	<div ng-include="'views/partials/popup.html'"></div>

	<!-- Add-Buttons -->
	<div class="addSubSection addSubSectionRight">
		<div class="button" ng-click="addSection()">+</div>
	</div>
	<div class="addSubSection addSubSectionBottom">
		<div class="button" ng-click="addSubSection()">+</div>
	</div>
</div>
