<!-- public/views/home.html -->
<div class="logo"><img src="img/nonplus1.2.png"></div>

<div class="login-table">
	<div class="row" ng-click="login=true">
		<div ng-class="{button:true,buttonActive:login}">
			Login
		</div>
		<form ng-class="{formActive:login,formInactive:!login}" ng-submit="loginUser()">
			<input type="email" placeholder="Email" ng-model="formData.email" autofocus="true">
			<input type="password" placeholder="Password" ng-model="formData.password">
			<input type="submit" value="Sign in" class="button button-green">
		</form>
	</div>
	<div class="row" ng-click="login=false">
		<div ng-class="{button:true,buttonActive:!login}">
			Create Account
		</div>
		<form ng-class="{formActive:!login,formInactive:login}" ng-submit="createUserCheck()">
			<input type="text" placeholder="First name" ng-model="formData.firstname" autofocus="true">
			<input type="text" placeholder="Last name" ng-model="formData.lastname">
			<input type="email" placeholder="Email" ng-model="formData.email">
			<input type="password" placeholder="Password" ng-model="formData.password">
			<input type="password" placeholder="Repeat password" ng-model="formData.passwordrep">
			<input type="submit" value="Create" class="button button-green">
		</div>
	</div>
</div>


<div ng-include="'views/partials/popup.html'"></div>