<!-- public/views/overview.html -->
<div class="nav">
	<div ng-include="'views/partials/sidebar_views.html'"></div>
</div>
<!-- PREVIEW -->
<div class="overview">
	<div id="overviewContent" class="middle">
		<div ng-include="'views/partials/bare.html'" ></div>
	</div>
</div>

