<!-- public/views/presentations.html -->
<div ng-include="'views/partials/menu.html'"></div>
<div class="presentation-information-table">
	<div class="row row-head">
		<div class="col col-image"></div>
		<div class="col col-title" ng-click="order='title'; reversed=!reversed">Title</div>
		<div class="col col-autor" ng-click="order='autor'; reversed=!reversed">Autor</div>
		<div class="col col-date" ng-click="order='date'; reversed=!reversed">Date</div>
		<div class="col col-action"><input type="text" ng-model="search" placeholder="Search..."></div>
	</div>
	<div ng-repeat="presentation in presentations | orderBy:order:!reversed | filter:search">
		<div ng-if="presentation.css[0].GoogleFont!=null">
			<style type="text/css"> @import url("http://fonts.googleapis.com/css?family={{presentation.css[0].GoogleFont}}"); </style>
		</div>
		<div class="row" ng-click="showPreview(presentation._id)">
			<div class="col col-image" height="70px">
				<div class="smallPreview {{presentation.css[0].Theme}} {{presentation.sections[0].subsections[0].css[0].Background}} {{presentation.css[0].Font}} {{presentation.css[0].Colors}}" ng-style="presentation.sections[0].subsections[0].css[0].Custom" style="font-family: '{{presentation.css[0].GoogleFont}}';">
					<div class="">
						<span ng-repeat="element in presentation.sections[0].subsections[0].elements">
							<div id="{{element.id}}" class="{{element.css[0].Background}} {{presentation.css[0].Alignment}} {{presentation.css[0].Fontalign}}" ng-style="element.properties">
								<span ng-bind-html="element.content"></span>
							</div>
						</span>
					</div>
				</div>
			</div>
			<div class="col col-title">
				<span>{{presentation.title}}</span>
			</div>
			<div class="col col-autor">
				<span>{{presentation.autor}}</span>
			</div>
			<div class="col col-date">
				<span>{{presentation.date | date:'dd.MMMM.yyyy'}}</span>
			</div>
			<div class="col col-action">
				<span ng-if="activePresentation!=presentation._id">
					<a href="/overview/{{presentation._id}}" class="fa fa-eye"></a>
					<a href="/editor/{{presentation._id}}" class="fa fa-pencil"></a>
					<a class="fa fa-trash" ng-click="reallyDelete(presentation)"></a>
				</span>
			</div>

		</div>
		<div ng-class="{previewRowActive:activePresentation==presentation._id, previewRowInactive:activePresentation!=presentation._id}" ng-click="closeAll()">
			<div class="render {{presentation.css[0].Theme}} {{presentation.sections[0].subsections[0].css[0].Background}} {{presentation.css[0].Colors}}" ng-style="presentation.sections[0].subsections[0].css[0].Custom" style="font-family: '{{presentation.css[0].GoogleFont}}';">
				<div class="{{presentation.css[0].Font}}">
					<span ng-repeat="element in presentation.sections[0].subsections[0].elements">
						<div id="{{element.id}}" class="element {{element.css[0].Background}} {{presentation.css[0].Alignment}} {{presentation.css[0].Fontalign}}" ng-style="element.properties">
							<span ng-bind-html="element.content"></span>
						</div>
					</span>
				</div>
			</div>
				<div class="render-nav">
					<a href="/overview/{{presentation._id}}" class="fa fa-eye"></a>
					<a href="/editor/{{presentation._id}}" class="fa fa-pencil"></a>
					<a class="fa fa-trash" ng-click="reallyDelete(presentation)"></a>
				</div>
		</div>
	</div>
	<div class="button" id="create-new-btn" ng-click="createStart()">Create New</div>
</div>
<div ng-include="'views/partials/popup.html'"></div>
