<!-- public/views/preview.html -->
<div fullscreen="isFullscreen" class="background">
	<div ng-class="{blackscreen:true, blackscreenActive:blackScreen, blackscreenInactive:!blackScreen}"></div>
	<div class="nav">
		<div ng-include="'views/partials/sidebar_views.html'"></div>
	</div>
	<!-- PREVIEW -->
	<div class="preview" >
		<div ng-include="'views/partials/bare.html'"></div>
	</div>
</div>