<p>TEST-VIEW</p>




<div data-as-sortable="">
	
	<div ng-repeat="section in sections">
		<div class="sortsec" data-ng-model="subsection">

			<div ng-repeat="subsection in section.subsections" data-as-sortable-item>
				<div class="sortsub" data-as-sortable-item-handle>

					<h1>{{subsection.title}}</h1>

				</div>
			</div>

		</div>
	</div>

</div>