<!-- public/views/user.html -->

<div ng-include="'views/partials/menu.html'"></div>


<div class="user-information-table">
	<div class="row row-head">
		<div class="col col-firstname" ng-click="order='firstname'; reversed=!reversed">First name</div>
		<div class="col col-lastname" ng-click="order='lastname'; reversed=!reversed">Last name</div>
		<div class="col col-email" ng-click="order='email'; reversed=!reversed">E-Mail</div>
		<div class="col col-password" ng-click="order='password'; reversed=!reversed">Password</div>
		<div class="col col-presentations" ng-click="order='presentations'; reversed=!reversed">Built</div>
		<div class="col col-action"><input type="text" ng-model="search" placeholder="Search..."></div>
	</div>
	<div ng-repeat="user in users | orderBy:order:reversed | filter:search">
		<div class="row">
			<div class="col col-firstname">
				<span>{{user.firstname}}</span>
			</div>
			<div class="col col-lastname">
				<span>{{user.lastname}}</span>
			</div>
			<div class="col col-email">
				<span>{{user.email}}</span>
			</div>
			<div class="col col-password">
				<span>{{user.password}}</span>
			</div>
			<div class="col col-presentations" ng-mouseenter="shownUserPres=user._id" ng-mouseleave="shownUserPres=''">
				<span ng-if="shownUserPres!=user._id">{{user.presentations.length}}</span>
				<div class="userPresentations" ng-if="shownUserPres==user._id">
					<span ng-repeat="presentation in user.presentations">
						<div class="userPres"><a href="/editor/{{presentation.id}}">{{presentation.title}}</a></div>
					</span>
				</div>
			</div>
			<div class="col col-action">
				<span>
					<a class="fa fa-pencil" ng-click="editUser(user)"></a>
					<a class="fa fa-trash" ng-click="reallyDelete(user)"></a>
				</span>
			</div>
		</div>
	</div>
	<div class="button" id="create-new-btn" ng-click="create=true">Add user</div>
</div>
<div class="popupBackground" ng-if="create||del||edit">
	<div class="popupContent">
		<h2>{{popupHeader}}</h2>
		<h4>{{popupsubHeader}}</h4><br>
		<div class="popupNew" ng-if="create">
			<form ng-submit="createUser()">
				<input type="text" placeholder="Firstname" ng-model="formData.firstname">
				<input type="text" placeholder="Lastname" ng-model="formData.lastname">
				<input type="text" placeholder="Email" ng-model="formData.email">
				<input type="text" placeholder="Password" ng-model="formData.password">
				<input type="submit" value="Submit" class="button button-green">
				<input type="button" value="Abort" class="button button-red" ng-click="back()">
			</form>
		</div>
		<div class="popupNew" ng-if="edit">
			<form ng-submit="updateUser()">
				<input type="text" placeholder="Firstname" ng-model="formData.firstname">
				<input type="text" placeholder="Lastname" ng-model="formData.lastname">
				<input type="text" placeholder="Email" ng-model="formData.email">
				<input type="text" placeholder="Password" ng-model="formData.password" title="Password">
				<input type="submit" value="Submit" class="button button-green">
				<input type="button" value="Abort" class="button button-red" ng-click="back()">
			</form>
		</div>
		<div class="popupNew" ng-if="del">
			<form ng-submit="deleteUser(userid)">
				<input type="submit" value="Delete" class="button button-green">
				<input type="button" value="Abort" class="button button-red" ng-click="back()">
			</form>
		</div>
	</div>
</div>


