<!-- public/views/partials/bare.html -->
<div ng-if="presentation.css[0].GoogleFont!=null">
	<style type="text/css"> @import url("http://fonts.googleapis.com/css?family={{presentation.css[0].GoogleFont}}"); </style>
</div>
<div ng-repeat="section in sections" class="{{presentation.css[0].Font}}" style="font-family: '{{presentation.css[0].GoogleFont}}';">
	<div id="{{section.id}}" class="{{presentation.css[0].Effect}}" ng-class="{section:true, sectionLeft:section.id==activeSection-1, sectionRight:section.id==activeSection+1, sectionLeftInactive:section.id<=activeSection-1, sectionRightInactive:section.id>=activeSection+1}" dnd-list="subsections">
		<div ng-repeat="subsection in section.subsections" dnd-draggable="subsection" dnd-dragstart="dragStart()" dnd-moved="sections[0].subsections.splice($index, 1)" dnd-effect-allowed="move">
			<div id="{{subsection.id}}" class="subsection {{presentation.css[0].Theme}} {{presentation.css[0].Effect}} {{subsection.css[0].Background}} {{presentation.css[0].Colors}}" ng-class="{active:activeSubSection==subsection.id&&activeSection==section.id, subSectionTop:section.id==activeSection&&subsection.id<=activeSubSection-1||section.id==activeSection-1&&subsection.id<=activeSubSection, subSectionBottom:section.id==activeSection&&subsection.id>=activeSubSection+1||section.id==activeSection+1&&subsection.id>0}" ng-style="subsection.css[0].Custom" ng-click="chooseSubSection(activeSection, activeSubSection)"> 
				<span ng-repeat="element in subsection.elements">
					<div class="elementwrapper">
						<div id="{{element.id}}" class="element {{presentation.css[0].Alignment}} {{presentation.css[0].Fontalign}} {{presentation.css[0].Fragments}}" ng-class="{elementInactive:element.id>=activeElement&&activeSubSection==subsection.id&&element.type=='fragment',elementActive:activeElement>element.id&&section.id==activeSection||element.type!='fragment'&&section.id==activeSection}" ng-style="element.properties">
							<span data-ng-init="init()" ng-bind-html="element.content"></span>
						</div>
					</div>
				</span>
			</div>
		</div>
	</div>
</div>

