<!--public/views/partials/menu.html-->
<div class="menu button">
    <a href="/" ng-class="{button:true, buttonReverse:buttonActive=='home'}">
    	Home
    </a>
    <a href="/presentations" ng-class="{button:true, buttonReverse:buttonActive=='presentations'}">
    	Presentations
    </a>
    <a href="/user" ng-class="{button:true, buttonReverse:buttonActive=='users'}">
    	Users
    </a>
</div>