<!-- public/views/partials/popup.html -->
<div class="popupBackground" ng-if="create||del||userCreate||custom||confirmed||image||backgroundcolor||googlefont||import">
	<div class="popupContent">
		<h2>{{popupHeader}}</h2>
		<h4>{{popupsubHeader}}</h4><br>
		<div class="popupNew" ng-if="create">
			<form ng-submit="createPresentation()">
				<input type="text" placeholder="Title" ng-model="formData.title" required="required">
				<input type="email" placeholder="Autor" ng-model="formData.autor" required="required" disabled="true">
				<input type="password" placeholder="Password" ng-model="formData.password">
				<input type="submit" value="Submit" class="button button-green">
				<input type="button" value="Abort" class="button button-red" ng-click="back()">
			</form>
		</div>
		<div class="popupPassword" ng-if="confirmed">
			<form ng-submit="check()">
				<input type="password" ng-model="formData.password" autofocus>
				<input type="submit" value="Submit" class="button button-green">
				<a href="presentations"><input type="button" value="Back" class="button button-red"></a>
			</form>
		</div>
		<div class="popupNew" ng-if="del">
			<form ng-submit="deletePresentation(presentationid)">
				<input type="password" ng-model="formData.password" autofocus placeholder="Password">
				<input type="submit" value="Delete" class="button button-green">
				<input type="button" value="Abort" class="button button-red" ng-click="back()">
			</form>
		</div>
		<div class="popupNew" ng-if="custom">
			<form ng-submit="saveCustom(presentationJSON)">
				<textarea spellcheck="false" placeholder="JSON-format" rows="10" ng-model="presentationJSON" style="width:100%; height:300px;"></textarea>
				<input type="submit" value="Save" class="button button-green">
				<input type="button" value="Abort" class="button button-red" ng-click="back()">
			</form>
		</div>
		<div class="popupNew" ng-if="image" >
			<div flow-init>
				<input type="file" flow-btn/>
				<div value="Submit" class="button button-green" ng-click="$flow.upload()" flow-complete="dragSuccess('Image', 'Upload', $flow.files[0].name)">Upload</div>
				<input type="button" value="Abort" class="button button-red" ng-click="back()">
				<table>
						<tr><td><img flow-img="$flow.files[0]" height="200px"></td></tr>
						<tr><td>{{$flow.files[0].name}}</td></tr>
				</table>
			</div>
		</div>
		<div class="popupNew" ng-if="import">
		<div ng-controller="PresentationsController" flow-init>
			<input type="file" flow-btn id="importData"/>
			<div value="Submit" class="button button-green" ng-click="$flow.upload()" flow-complete="importStart()">Import</div>
			{{$flow.files[0].name}}
			
		</div>
				<input type="button" value="Abort" class="button button-red" ng-click="back()">
		</div>
		<div class="popupNew" ng-if="backgroundcolor">
			<form ng-submit="changeCustom('background', activeBackgroundcolorRendered)">
				<div class="button" ng-style="activeBackgroundcolorRendered"> This is your preview</div>
				<input type="text" colorpicker="rgba" ng-model="activeBackgroundcolor" placeholder="Click here for Color 1" ng-change="renderColor(activeBackgroundcolor, activeBackgroundcolor2)">
				<input type="text" colorpicker="rgba" ng-model="activeBackgroundcolor2" placeholder="Click here for Color 2" ng-change="renderColor(activeBackgroundcolor, activeBackgroundcolor2)">
				<input type="submit" value="Save" class="button button-green">
				<input type="button" value="Abort" class="button button-red" ng-click="back()">
			</form>
		</div>
		<div class="popupNew" ng-if="googlefont">
			<div ng-if="presentation.css[0].GoogleFont!=null">
				<style type="text/css"> @import url("http://fonts.googleapis.com/css?family={{activeGooglefont}}"); </style>
			</div>
			<form ng-submit="changeCustom('googlefont', activeGooglefont)">
				<div class="button" style="font-family:{{activeGooglefont}}; font-size:2rem;"> This is your preview</div>
				<input type="text" ng-model="activeGooglefont">
				<input type="submit" value="Save" class="button button-green">
				<input type="button" value="Abort" class="button button-red" ng-click="back()">
			</form>
		</div>
		<div class="popupNew" ng-if="userCreate">
			<input type="button" value="Abort" class="button button-red" ng-click="back()">
		</div>
	</div>
</div>