<!-- public/views/partials/presentation.html -->
<div ng-if="presentation.css[0].GoogleFont!=null">
	<style type="text/css"> @import url("http://fonts.googleapis.com/css?family={{presentation.css[0].GoogleFont}}"); </style>
</div>
<div ng-repeat="section in sections" class="{{presentation.css[0].Font}}" style="font-family: '{{presentation.css[0].GoogleFont}}';">
	<div id="{{section.id}}" class="{{presentation.css[0].Effect}}" ng-class="{section:true, sectionLeft:section.id==activeSection-1, sectionRight:section.id==activeSection+1, sectionLeftInactive:section.id<activeSection-1, sectionRightInactive:section.id>activeSection+1}">
		<div ng-repeat="subsection in section.subsections">
			<div id="{{subsection.id}}" class="subsection {{presentation.css[0].Theme}} {{presentation.css[0].Effect}} {{subsection.css[0].Background}} {{presentation.css[0].Colors}}" ng-class="{subSectionBottom:subsection.id==activeSubSection+1, subSectionTop:subsection.id==activeSubSection-1, subSectionBottomInactive:subsection.id>activeSubSection+1, subSectionTopInactive:subsection.id<activeSubSection-1, active:activeSubSection==subsection.id&&activeSection==section.id}" ng-click="chooseSubSection(section.id, subsection.id)" ng-style="subsection.css[0].Custom"> 
					<div class="itembar" ng-if="subsection.id==activeSubSection&&section.id==activeSection">
						<span ng-repeat="elementitem in elementitems">
							<div class="item" ng-mouseover="activeItem='elementitem.title'" ng-mouseleave="activeItem=''">
								{{elementitem.title}}
								<div class="subitembar" ng-if="activeItem=='elementitem.title'">
									<span ng-repeat="elementsubitem in elementitem.subitems">
										<div class="subitem" ng-drag="true" ng-drag-success="dragSuccess(elementitem.title, elementsubitem, $event)" ng-bind-html="elementsubitem">
										</div>
									</span>
								</div>
							</div>
						</span>
					</div>
					<span ng-repeat="element in subsection.elements">
						<div id="{{element.id}}" class="element {{presentation.css[0].Alignment}} {{presentation.css[0].Fontalign}}" ng-class="{elementInactive:element.id>=activeElement&&activeSubSection==subsection.id&&element.type=='fragment',elementActive:activeElement>element.id||element.type!='fragment'}" ng-style="element.properties" ng-click="chooseElement(section, subsection, element)" ng-drag="viewEditor&&handleElement==element.id">
							<div class="positionBar">
								<div class="point" ng-mouseenter="handleElement=element.id" ng-mouseleave="handleElement=''"></div>
							</div>
								<span data-ng-init="init()" ng-bind-html="element.content" class="editable"></span>
							<div class="skaleBar" ng-mouseup="skaleEnd()">
								<div class="point" ng-mousedown="scaleStart($event)" ng-mousemove="scaleMove($event)"></div>
							</div>
						</div>
					</span>
			</div>
		</div>
	</div>
</div>

