<!-- public/views/partials/sidebar_views.html -->
<div ng-class="{button:true,reversed:true,reversedBlack:view=='overview'||view=='preview', reversehide:view=='overview'||view=='preview'}" ng-mouseenter="fsbtn=true" ng-mouseleave="fsbtn=false">
	<a ng-href="/overview/{{presentationid}}" ng-if="view!='overview'">
		<div ng-class="{buttonReverse:true, buttonReverseActive:view=='overview'}">
				<i class="fa fa-eye"></i>
		</div>
	</a>
	<a ng-href="/preview/{{presentationid}}" ng-if="view!='preview'">
		<div ng-class="{buttonReverse:true, buttonReverseActive:view=='preview'}">
				<i class="fa fa-desktop"></i>
		</div>
	</a>
	<a ng-href="/editor/{{presentationid}}" ng-if="view!='editor'">
		<div ng-class="{buttonReverse:true, buttonReverseActive:view=='editor'}">
				<i class="fa fa-pencil"></i>
		</div>
	</a>
	<a ng-click="toggleFullscreen()" ng-if="view!='overview'">
		<div class="fullscreenbtn buttonReverse" ng-class="{fullscreenbtnAct:fsbtn, fullscreenbtnInact:!fsbtn}">
				<i class="fa fa-expand" ng-show="!isFullscreen"></i>
				<i class="fa fa-compress" ng-show="isFullscreen"></i>
		</div>
	</a>
	<a ng-href="/presentations" ng-if="!viewEditor"><div class="button navitem navitem-back">BACK</div></a>
</div>
	<a ng-href="/presentations" ng-if="viewEditor"><div class="button navitem navitem-back">BACK</div></a>


