<!-- public/views/partials/sidebar_components.html -->
	<div ng-repeat="item in items">
		<div ng-mouseenter="showSubnav(item._id)" ng-mouseleave="hideSubnav()">
			<div ng-class="{button:true, navitem:true, active:shownItem==item._id}">
				{{item.title}}
			</div>
			<div class="subnav" ng-if="shownItem==item._id">
				<div ng-repeat="group in item.groups">
					<a href="" ng-mouseenter="showValue(group.property)">
						<div class="button subnavitem" ng-mouseenter="showValue(group.property)" ng-mouseleave="hideValue()">
							<span>	
								{{group.property}}
							</span>
							<div class="overflow" ng-if="shownValue==group.property">
								<span ng-repeat="property in group.items">
									<div class="itemPreview" ng-click="change(group, property);showValue('')">
										{{property.item}}
									</div>
								</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--Information-->
	<div ng-mouseenter="presentationDetails=true" ng-mouseleave="presentationDetails=false">
		<div ng-class="{button:true, navitem:true, active:presentationDetails}">
			Settings
		</div>
		<div class="subnav" ng-if="presentationDetails">
			<a href="" ng-mouseenter="showValue(presentation.title)">
				<div class="button subnavitem" ng-mouseenter="showValue(presentation.title)" ng-mouseleave="hideValue()">
					<span>Title</span>
					<div class="overflow" ng-if="shownValue==presentation.title">
						<input type="text" ng-model="presentation.title" ng-change="showValue(presentation.title); change('','')">
					</div>
				</div>
			</a>
			<a href="" ng-mouseenter="showValue(presentation.autor)">
				<div class="button subnavitem" ng-mouseenter="showValue(presentation.autor)" ng-mouseleave="hideValue()">
					<span>Autor</span>
					<div class="overflow" ng-if="shownValue==presentation.autor">
						<div class="itemPreview" ng-click="change(presentation.autor, value)">{{presentation.autor}}</div>
					</div>
				</div>
			</a>
			<a href="" ng-mouseenter="showValue(presentation.date)">
				<div class="button subnavitem" ng-mouseenter="showValue(presentation.date)" ng-mouseleave="hideValue()">
					<span>Date</span>
					<div class="overflow" ng-if="shownValue==presentation.date">
						<div class="itemPreview" ng-click="change(presentation.date, value)">{{presentation.date | date:'dd.MM.yyyy'}}</div>
					</div>
				</div>
			</a>
			<a href="" ng-mouseenter="showValue(presentation.password)">
				<div class="button subnavitem" ng-mouseenter="showValue(presentation.password)" ng-mouseleave="hideValue()">
					<span>Password</span>
					<div class="overflow" ng-if="shownValue==presentation.password">
						<input type="text" ng-model="presentation.password" ng-change="showValue(presentation.password); change('','')">
					</div>
				</div>
			</a>
			<a href="" ng-mouseenter="showValue('eximport')">
				<div class="button subnavitem" ng-mouseenter="showValue('eximport')" ng-mouseleave="hideValue()">
					<span>Ex-/Import</span>
					<div class="overflow" ng-if="shownValue=='eximport'">
						<span ng-click="exportPresentation()">
							<div class="itemPreview">Export</div>
						</span>
						<div class="itemPreview" ng-click="importPresentation()">Import</div>
						<a ng-if="exportDownload" target="_self" href="export/{{presentation.title}}.zip" download="{{presentation.title}}.zip" class="button" ng-mouseenter="showValue('download')">
							<div class="itemPreview">
								Download
							</div>
						</a>
					</div>
				</div>
			</a>
			<a href="" ng-mouseenter="showValue('custom')">
				<div class="button subnavitem" ng-click="customize()" ng-mouseleave="hideValue()">
					<span>Custom</span>
				</div>
			</a>
		</div>
	</div>
